body {
    width: 280px;
}
body {
    border: 1px solid white;
}

.container {
    background: #141e24;
    height: 140px;
    text-align: center;
}

#head {
    color: #75b0be;
    font-size: 1.5rem;

    font: Open Sans;
    font-weight:800;
}

#clock {
    color: #f57150;
    font-size: 2.5rem;

    font: Open Sans;
    font-weight: bold;
}

.back {
    color: #316e7d;
    font-size: 1rem;

    font: Open Sans;
}

#icon {
    color: white;
}